{{ define "main" }}
    <div class="ui inverted centered medium header">
        {{ .Title }}
    </div>
    <div class="ui inverted centered small header">
        By: {{ range .Params.Authors }} {{ . }} {{end}}
    </div>
    <div class="ui segment">
        {{ .Content }}
    </div>
    <div class="ui inverted segment meta">
        <h3 class="ui header">Article Data:</h3>
        <div class="ui stackable inverted secondary menu">
            <div class="item">
                <h4>Created: {{ .Params.CreatedDay }} {{ .Params.CreatedDate }}</h4>
            </div>
            <div class="item">
                <h4>Updated: {{ .Params.UpdatedDay }} {{ .Params.UpdatedDate }}</h4>
            </div>
            <div class="item">
                <h4>{{ .WordCount }} Words</h4>
            </div>
        </div>
        <h3>Tags:</h3>
        <div class="ui middle aligned horizontal list">
            {{ range .Params.Tags}}
                <div class="item">{{ . | safeHTML}}</div>
            {{ end }}
        </div>
    </div>
{{ end }}
